.App {
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
}

.bar{
  width: 100%;
  height: 80px;
  background-color: darkblue;
  display: flex;
  align-items: center;
}

.bar .Link{
  font-size: 25px;
}

.Link a{
  margin: 10px;
  color: white;
  text-decoration: none;
}

.Link a:hover{
  cursor: pointer;
  color: yellow;
  font-weight: bold;
  text-decoration-line: underline;
}

.CreatePost, .Loginpage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.upload, .Loginform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  border: 2px solid black;
  font-size: 20px;
  color: red;
}

.upload input, .Loginform input{
  width: 80%;
  height: 50px;
  margin: 10px;
  font-size: 15px;
}

button{
  margin: 10px;
}

.MainPage{
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: silver;
}
.Container{
  height: 100%;
  width: 70%;
  max-width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
}

.post{
  width: 100%;
  margin-top: 20px;
  max-height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.post h1{
  color: red;
}

.post p{
  width: 100%;
}

.post:hover{
  cursor: pointer;
}

.see{
  width: 100%;
  height: 100%;
}

.see h1{
  color: red;
}